// ---------------------------- colors

$color-white: #FFFFFF;
$color-black: #161924;
$color-snow: #F6F4F8;
$color-gray: #86848A;
$color-orange: #E39A57;
$color-violet: #9586E2;
$color-green: #AEC87A;
$color-blue: #6C9CB4;
$color-red: #CA8075;

$color-ghost: #330033;
$color-steel: #808080;
$color-dragon: #4B0082;
$color-flying: #6495ED;
$color-water: #007FFF;
$color-ice: #00FFFF;
$color-unknown: #006666;
$color-grass: #008000;
$color-bug: #808000;
$color-normal: #808080;
$color-electric: #ffff00;
$color-ground: #C2B280;
$color-rock: #8B4513;
$color-fire: #FFA500;
$color-fighting: #800000;

// ---------------------------- fonts

$font-1: 'Futura', Arial, Helvetica, sans-serif;

// ---------------------------- media

$media-xs: 0;
$media-md: 768px;
$media-lg: 1024px;
$media-xl: 1250px;
$media-xxl: 1920px;
